@import "./Utils/variables";


body, html{
    margin: 0;
}


.header_banner{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
        height: 50px;
    }
    a{
        position: absolute;
        left: 50px;
        font-size: 35px;
        color: inherit;
    }
}



.footer_about{
    height: 200px;
    background-color: $bg-footer;
    color: $color-footer;
    font-family: $font-text;
    font-size: 20px;
    display: flex;
    align-items: center;
    ul{
        list-style-type: none;
    }
    li:first-child{
        font-family: $font-title;
        font-weight: bold;
        padding-bottom: 10px;
    }
    li:not(:first-child){
        margin-bottom: 5px;
    }
    .fas{
        font-size: 15px;
        margin-right: 10px;
    }
}


