* {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(/polices/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/polices/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(/polices/Roboto-Bold.ttf);
}

body, html {
  margin: 0;
}

/* HEADER */
.banner {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  position: relative;
  -webkit-box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.3);
          box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.3);
}

.banner .banner__img {
  height: 60px;
}

/* NAV */
.location {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  background-color: rgba(128, 128, 128, 0.15);
}

.location .location__title {
  font-weight: normal;
  font-size: 30px;
  font-family: "Roboto-Medium";
}

.location .location__icone {
  font-size: 25px;
  margin-right: 25px;
  margin-bottom: 3px;
}

.booking {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(128, 128, 128, 0.075);
}

.booking .booking__title {
  font-size: 50px;
  margin-top: 75px;
  text-align: center;
  font-family: "Roboto-Bold";
}

.booking .booking__desc {
  font-size: 35px;
  padding-bottom: 15px;
  margin-top: -15px;
  text-align: center;
  font-family: "Roboto-Light";
}

.booking .booking__button {
  font-family: "Roboto-Medium";
  width: 400px;
  font-size: 28px;
  padding: 25px;
  border-radius: 40px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #b960fe;
  background: linear-gradient(354deg, #b960fe 25%, #de60fe 50%, #f058fe 75%, #ff4cf6 100%);
}

.booking .booking__button:hover {
  /* APPLIQUE OMBRE ET LUMIERE SUR BOUTTONS */
  -webkit-box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
          box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

/* ARTICLE */
.card {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}

.card .card__title {
  font-size: 30px;
  font-family: "Roboto-Bold";
  width: 86%;
  margin-top: 43px;
  margin-bottom: 20px;
}

.card .card__restaurant {
  -webkit-box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.15);
          box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.15);
  font-family: "Roboto-Medium";
  font-size: 30px;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.075);
  width: 85%;
  padding: 25px;
  border-radius: 50px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
}

.card .card__restaurant .card__number {
  position: absolute;
  font-size: 25px;
  left: -10px;
  background-color: #9356DC;
  border-radius: 50%;
  line-height: 32px;
  /* METS LE CHIFFRE A LA MEME HAUTEUR QUE LE CERCLE */
  height: 32px;
  width: 32px;
  color: #fff;
}

.card .card__restaurant .card__icon {
  position: absolute;
  left: 50px;
  color: grey;
}

.card .card__restaurant .cart__icon--store {
  color: #9356DC;
}

.card .card__restaurant:hover {
  cursor: pointer;
  /* APPLIQUE OMBRE ET LUMIERE SUR BOUTTONS */
  -webkit-box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
          box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.card div:last-child {
  background-color: #9256dc1f;
}

.restaurant {
  height: 2200px;
  background-color: rgba(128, 128, 128, 0.075);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant a {
  color: inherit;
  text-decoration: none;
}

.restaurant .restaurant__title {
  font-family: "Roboto-Bold";
  margin-top: 73px;
  margin-bottom: 50px;
  font-size: 40px;
  width: 85%;
}

.restaurant .restaurant__location {
  background-color: #fff;
  height: 440px;
  border-radius: 25px 25px;
  margin-bottom: 40px;
  position: relative;
  width: 85%;
}

.restaurant .restaurant__location .restaurant__heart {
  position: absolute;
  left: 85%;
  bottom: 60px;
  font-size: 30px;
  cursor: pointer;
}

.restaurant .restaurant__location .restaurant__heart:hover:before {
  font-weight: 900;
  background-position: bottom;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* CIBLE L'INTERIEUR DE L'ICONE */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #9356DC), color-stop(50%, transparent));
  background-image: linear-gradient(to top, #9356DC 50%, transparent 50%);
  /* PERMET DE REMPLIR LE BOUTON DE BAS EN HAUT */
  background-size: 100% 200%;
  /* DONNE UNE TAILLE AUX DEUX COULEURS */
  -webkit-transition: background-position 0.5s ease-in-out;
  transition: background-position 0.5s ease-in-out;
}

.restaurant .restaurant__location .restaurant__new {
  padding: 6px 10px 6px 10px;
  position: absolute;
  bottom: 82%;
  right: 4%;
  background-color: #99E2D0;
  color: green;
  border-radius: 2px;
  font-family: "Roboto-Medium";
  font-size: 15px;
}

.restaurant .restaurant__location .restaurant__img {
  height: 325px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant .restaurant__location h4 {
  font-size: 30px;
  margin-top: 12px;
  margin-left: 12px;
  font-family: "Roboto-Bold";
}

.restaurant .restaurant__location p {
  font-size: 25px;
  margin-top: -30px;
  padding-left: 12px;
  font-family: "Roboto-Light";
}

.restaurant .restaurant__location:hover {
  /* APPLIQUE OMBRE ET LUMIERE SUR BOUTTONS */
  -webkit-box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
          box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

/* FOOTER */
.about {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
}

.about .about__list {
  list-style-type: none;
  font-size: 40px;
  color: #fff;
}

.about .about__list li:first-child {
  font-family: "Shrikhand";
  font-weight: bold;
  margin-bottom: 20px;
}

.about .about__list li:not(:first-child) {
  margin-bottom: 10px;
  font-family: "Roboto-Medium";
}

.about .about__list .about__icon {
  font-size: 30px;
  margin-right: 20px;
}

.about .about__list li:hover {
  cursor: pointer;
}

.about .about__list a {
  color: inherit;
  text-decoration: none;
}

/* LOADING SPINNER */
.overlay {
  position: fixed;
  /* NON AFFECTE PAR LE SCROLLING DE LA PAGE */
  z-index: 5;
  /* LE POSITIONNE EN PREMIER PLAN */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* CENTRE LE LOADER AU MILIEU DE LA PAGE */
}

.loader {
  border: 50px solid #9356DC;
  border-right: 50px solid #FF79DA;
  border-bottom: 50px solid #9356DC;
  border-left: 50px solid #FF79DA;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  -webkit-animation: spin 3s forwards;
          animation: spin 3s forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    position: absolute;
    right: 99999px;
  }
  /* LA POSITION ABSOLUTE PERMET DE L'ENLEVER DE LA PAGE */
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    position: absolute;
    right: 99999px;
  }
  /* LA POSITION ABSOLUTE PERMET DE L'ENLEVER DE LA PAGE */
}

/* HEADER */
.banner__return {
  position: absolute;
  left: 30px;
  color: inherit;
}

.banner__icon {
  font-size: 25px;
}

.banner__icon:hover {
  -webkit-filter: drop-shadow(5px 5px 5px black);
          filter: drop-shadow(5px 5px 5px black);
}

/* NAV */
.nav__pic {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ARTICLE */
article {
  background-color: #f0f0f0;
}

article .menu {
  position: relative;
  bottom: 150px;
  height: 1700px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  padding-top: 20px;
  background-color: #f0f0f0;
}

article .menu .menu__card {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

article .menu .menu__card .menu__location {
  font-family: "Shrikhand";
  font-size: 30px;
  margin-right: 215px;
  margin-bottom: 30px;
}

article .menu .menu__card .menu__location .menu__heart {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

article .menu .menu__card .menu__location .menu__heart:hover:before {
  font-weight: 900;
  background-position: bottom;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* CIBLE L'INTERIEUR DE L'ICONE */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #9356DC), color-stop(50%, transparent));
  background-image: linear-gradient(to top, #9356DC 50%, transparent 50%);
  /* PERMET DE REMPLIR LE BOUTON DE BAS EN HAUT */
  background-size: 100% 200%;
  /* DONNE UNE TAILLE AUX DEUX COULEURS */
  -webkit-transition: background-position 0.5s ease-in-out;
  transition: background-position 0.5s ease-in-out;
}

article .menu .menu__card .menu__title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto-Light";
  margin-top: 45px;
  margin-bottom: 30px;
}

article .menu .menu__card .menu__desc {
  overflow: hidden;
  /* PERMET DE CONTENIR LA COULEUR ET L'ICONE DANS LE BLOC PARENT */
  background-color: #fff;
  padding-left: 20px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.3);
          box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.3);
  cursor: pointer;
  position: relative;
  -webkit-animation: menu_fade 500ms forwards ease-in-out;
          animation: menu_fade 500ms forwards ease-in-out;
  opacity: 0;
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
  /* LA BOUCLE ITERE SUR CHAQUE ELEMENTS AVEC UN DECALAGE */
}

article .menu .menu__card .menu__desc--1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

article .menu .menu__card .menu__desc--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

article .menu .menu__card .menu__desc--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

article .menu .menu__card .menu__desc--4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

article .menu .menu__card .menu__desc--5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

article .menu .menu__card .menu__desc--6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

article .menu .menu__card .menu__desc--7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

article .menu .menu__card .menu__desc--8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

article .menu .menu__card .menu__desc--9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

article .menu .menu__card .menu__desc .menu__text:hover > .menu__price {
  /* SELECTIONNE UN ELEMENT ENFANT DE LA DIV */
  -webkit-animation: price_slide 500ms ease-in-out forwards;
          animation: price_slide 500ms ease-in-out forwards;
}

article .menu .menu__card .menu__desc .menu__text:hover + .menu__slide {
  /* SELECTIONNE LA DIV ADJACENTE POUR APPLIQUER L'ANIMATION */
  opacity: 1;
  -webkit-animation: expand 500ms ease-in-out forwards;
          animation: expand 500ms ease-in-out forwards;
}

article .menu .menu__card .menu__desc .menu__text:hover + .menu__slide .menu__spin {
  -webkit-animation: icon_spin 500ms ease-in-out forwards;
          animation: icon_spin 500ms ease-in-out forwards;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

article .menu .menu__card .menu__desc .menu__text:hover > .menu__text--desc {
  width: 250px;
}

article .menu .menu__card .menu__desc .menu__text:hover > .menu__text--title {
  width: 250px;
}

article .menu .menu__card .menu__desc .menu__text .menu__price {
  opacity: 1;
  font-weight: bold;
  position: absolute;
  right: 0px;
  -webkit-animation: price_slide_out 500ms ease-in-out forwards;
          animation: price_slide_out 500ms ease-in-out forwards;
  font-size: 20px;
}

article .menu .menu__card .menu__desc .menu__slide {
  -webkit-animation: expand_out 500ms ease-in-out forwards;
          animation: expand_out 500ms ease-in-out forwards;
  -webkit-transform-origin: right;
          transform-origin: right;
  position: absolute;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  overflow: hidden;
}

article .menu .menu__card .menu__desc .menu__slide .menu__spin {
  -webkit-animation: icon_spin_out 500ms ease-in-out forwards;
          animation: icon_spin_out 500ms ease-in-out forwards;
  font-size: 30px;
  color: #fff;
}

article .menu .menu__card .menu__desc .menu__text--title {
  font-family: "Roboto-Light";
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article .menu .menu__card .menu__desc .menu__text--desc {
  -webkit-animation: text_ellipsis_out 500ms ease-in-out forwards;
          animation: text_ellipsis_out 500ms ease-in-out forwards;
  font-size: 20px;
  font-family: "Roboto-Light";
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article .menu .menu__card .menu__desc:hover {
  /* APPLIQUE OMBRE ET LUMIERE SUR BOUTTONS */
  -webkit-box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
          box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

article .menu .menu__card .menu__commander {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
}

article .menu .menu__card .menu__commander .menu__button {
  margin-top: 55px;
  font-family: "Roboto-Medium";
  width: 400px;
  font-size: 28px;
  padding: 25px;
  border-radius: 40px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #b960fe;
  background: linear-gradient(354deg, #b960fe 25%, #de60fe 50%, #f058fe 75%, #ff4cf6 100%);
}

article .menu .menu__card .menu__commander .menu__button:hover {
  /* APPLIQUE OMBRE ET LUMIERE SUR BOUTTONS */
  -webkit-box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
          box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.295);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

@-webkit-keyframes text_ellipsis {
  to {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  from {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@keyframes text_ellipsis {
  to {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  from {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@-webkit-keyframes text_ellipsis_out {
  to {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  from {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@keyframes text_ellipsis_out {
  to {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  from {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/* FOOTER */
.about--shift {
  margin-top: -150px;
}

/* KEY FRAMES */
@-webkit-keyframes menu_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    height: 100%;
    width: 0px;
    border-radius: 0px;
  }
  to {
    height: 100%;
    width: 90px;
    border-radius: 0px;
  }
}

@keyframes expand {
  from {
    height: 100%;
    width: 0px;
    border-radius: 0px;
  }
  to {
    height: 100%;
    width: 90px;
    border-radius: 0px;
  }
}

@-webkit-keyframes expand_out {
  from {
    height: 100%;
    width: 100px;
    border-radius: 0px;
  }
  to {
    height: 100%;
    width: 0px;
    width: 0px;
    border-radius: 0px;
  }
}

@keyframes expand_out {
  from {
    height: 100%;
    width: 100px;
    border-radius: 0px;
  }
  to {
    height: 100%;
    width: 0px;
    width: 0px;
    border-radius: 0px;
  }
}

@-webkit-keyframes price_slide {
  from {
    position: absolute;
    right: 0px;
  }
  to {
    position: absolute;
    right: 105px;
  }
}

@keyframes price_slide {
  from {
    position: absolute;
    right: 0px;
  }
  to {
    position: absolute;
    right: 105px;
  }
}

@-webkit-keyframes price_slide_out {
  from {
    position: absolute;
    right: 65px;
  }
  to {
    position: absolute;
    right: 30px;
  }
}

@keyframes price_slide_out {
  from {
    position: absolute;
    right: 65px;
  }
  to {
    position: absolute;
    right: 30px;
  }
}

@-webkit-keyframes icon_spin {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes icon_spin {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes icon_spin_out {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes icon_spin_out {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=styles.css.map */