@import "./Utils/variables";


* {-webkit-font-smoothing: antialiased;}
@font-face{
    font-family: "Roboto-Light";
    src: url(/polices/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(/polices/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(/polices/Roboto-Bold.ttf);
}





@mixin flex_center($flex,$horizontal_center,$vertical_center,$column){
    display: $flex;
    justify-content: $horizontal_center;
    align-items: $vertical_center;
    flex-direction: $column;
}
@mixin number_circle{
    position: absolute;
    left: -10px;
    background-color: $color-primary;
    border-radius: 50%;
    line-height: 22px;
    height: 22px;
    width: 22px;
    color: #fff;
}
@mixin card__choose{
    box-shadow: 2px 2px 4px $bg-location;
    font-family: $font-text-medium;
    background-color: $bg-booking;
    width: 80%;
    padding: 25px;
    border-radius: 30px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    height: 75px;
}
@mixin booking_button{
    font-family: $font-text-medium;
    width: 240px;
    font-size: 18px;
    padding: 18px;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: rgb(185,96,254);
    background: linear-gradient(354deg, rgba(185,96,254,1) 25%, rgba(222,96,254,1) 50%, rgba(240,88,254,1) 75%, rgba(255,76,246,1) 100%);
}
@mixin restaurant__new{
    padding: 6px 10px 6px 10px;
    position: absolute;
    bottom: 82%;
    right: 4%;
    background-color: $color-tertiary;
    color: green;
    border-radius: 2px;
    font-family: $font-text-medium;
    font-size: 15px;
}
@mixin menu__position{
    position: relative;
    bottom: 150px;
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}





body, html{
    margin: 0;
}



.banner{
    height: 60px;
    @include flex_center(flex,center,center,"");
    position: relative;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.300);
    .banner__img{
        height: 25px;
    }
    .banner__return{
        position: absolute;
        left: 50px;
        font-size: 35px;
        color: inherit;
    }
    .banner__icon{
        font-size: 15px;
    }
}


.location{
    height: 45px;
    @include flex_center(flex,center,center,"");
    background-color: $bg-location;
    .location__title{
        font-weight: normal;
        font-family: $font-text-medium;
    }
    .location__icone{
        margin-right: 15px;
        margin-bottom: 3px;
    }
}










.booking{
    height: 300px;
    @include flex_center(flex,"",center,column);
    background-color: $bg-booking;
    .booking__title{
        margin-top: 35px;
        text-align: center;
        font-family: $font-text-bold;
    }
    .booking__desc{
        padding-bottom: 6px;
        margin-top: 3px;
        text-align: center;
        font-size: 20px;
        font-family: $font-text-light;
    }
    .booking__button{
        @include booking_button;
    }
}


.card{
    height: 440px;
    @include flex_center(flex,"",center,column);
    margin-bottom: 45px;
    .card__title{
        width: 86%;
        font-family: $font-text-bold;
        display: flex;
        justify-content:flex-start;
        margin-top: 33px;
        margin-bottom: 10px
    }
    .card__restaurant{
        @include card__choose;
        @include flex_center(flex,center,center,"");
        .card__number{
            @include number_circle;
        }
        .card__item{
            position: absolute;
            left: 50px;
            color: grey;
        }
        .cart__item--store{
            color: $color-primary;
        }
    }
    div:last-child{
        background-color: #9256dc1f;
    }
}






.restaurant{
    height: 1225px;
    background-color: $bg-booking;
    @include flex_center(flex,"",center,column);
    a{
        color: inherit;
        text-decoration: none;
    }
    .restaurant__title{
        font-family: $font-text-bold;
        width: 86%;
        display: flex;
        justify-content:flex-start;
        margin-top: 53px;
    }
    .restaurant__location{
        height: 250px;
        width: 425px;
        background-color: #fff;
        border-radius: 25px 25px;
        position: relative;
        margin-bottom: 20px;
        .restaurant__img{
        height: 175px;
        width: 100%;
        border-radius: 25px 25px 0 0;
        position: relative;
        object-fit: cover;
        }
        h4{
        margin-top: 12px;
        margin-left: 12px;
        font-family: $font-text-bold;
        }
        p{
            margin-top: -14px;
            padding-left: 12px;
            font-family: $font-text-light;
        }
        .restaurant__heart{
            position: absolute;
            left: 85%;
            bottom: 15%;
            font-size: 25px;
        }
        .restaurant__new{
            @include restaurant__new;
        }
    }
}


.nav__pic{
    height: 700px;
    width: 100%;
    object-fit: cover;
}


.menu{
    @include menu__position;
    @include flex_center(flex,"",center,column);
    height: 1200px;
    background-color: rgb(240, 240, 240);
    .menu__desc{
        background-color: #fff;
        padding: 1px 5px 1px 5px;
        margin-bottom: 15px;
        border-radius: 15px;
        width: 425px;
    }
    .menu__commander{
        @include booking_button;
    }
}






.about--shift{
    margin-top: -150px;
}




.about{
    height: 200px;
    background-color: $bg-footer;
    color: $color-footer;
    font-size: 20px;
    @include flex_center(flex,"",center,"");
    .about__icon{
        font-size: 15px;
        margin-right: 10px;
    }
    .about__list{
        list-style-type: none;
        li:first-child{
            font-family: $font-title;
            font-weight: bold;
            padding-bottom: 10px;
        }
        li:not(:first-child){
            margin-bottom: 5px;
            font-family: $font-text-medium;
        }
    }
}


