$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;


$bg-footer:rgba(0, 0, 0, 0.750);
$color-footer:#FFF;


$font-text-light:"Roboto-Light";
$font-text-medium:"Roboto-Medium";
$font-text-bold:"Roboto-Bold";


$font-title:"Shrikhand";